.single{
    display: flex;
    .right{
        flex: 5;

        .top, .bottom{
            display: flex;
            gap: 15px;
            padding: 20px;
            flex-wrap: wrap;

            .singleItem{
                border-radius: 5px;
                justify-content: space-between;
                padding: 10px 20px;
                box-shadow: 2px 1px 31px -11px rgba(0,0,0,1);
                -webkit-box-shadow: 2px 1px 31px -11px rgba(0,0,0,1);
                -moz-box-shadow: 2px 1px 31px -11px rgba(0,0,0,1);
                flex: 1;
                position: relative;

                .title{
                    color: grey;
                    margin-top: 0;
                }

                .edit{
                    position: absolute;
                    right: 0;
                    top: 0;
                    background-color: rgba(246, 36, 36, 0.249);
                    color: rgba(246, 36, 36, 0.981);
                    padding: 2px 6px;
                    font-size: 12px;
                    font-weight: 500;
                    cursor: pointer;
                }

                .infoWrapper{
                    display: flex;
    
                    .userImg{
                        object-fit: cover;
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                    }
    
                    .info{
                        padding-left: 20px;

                        .name{
                            margin-top: 0;
                            color: rgba(21, 21, 21, 0.742);
                        }
                        .email, .phone, .address, .country{
                            font-size: 12px;
                            font-weight: 500;
                        }

                      
                    }
                }
            }
            .singleChart{
                flex: 2;
            }


           
        }
    }

    .left{
        flex: 1;
        border-right: 1px solid rgba(128, 128, 128, 0.255);
       
    }
}
