.home{
    display: flex;
    height: 100vh;

    .right{
        flex: 5;

        .top{
            display: flex;
            gap: 15px;
            padding: 20px;
            flex-wrap: wrap;
        }
    }

    .left{
        flex: 1;
        border-right: 1px solid rgba(128, 128, 128, 0.255);
       
    }
}
