.card{
    flex: 1;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 2px 1px 31px -11px rgba(0,0,0,1);
    -webkit-box-shadow: 2px 1px 31px -11px rgba(0,0,0,1);
    -moz-box-shadow: 2px 1px 31px -11px rgba(0,0,0,1);
    height: 110px;

    .cardLeft,.cardRight{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .title{
            color: grey;
            font-weight: 600;
            text-transform: uppercase;
        }

        .progress{
            color: green;
            display: flex;
        }

        .icon{
            align-self: flex-end;
            border-radius: 5px;
            padding: 2px;
        }

        .cardAction{
            border-bottom: 1px solid grey;
        }

        .counter{
            font-size: 20px;
        }
    }
}

